@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1280px;
	padding: 0 60px;
	margin: auto;
}

.font{

	&-bold {
		font-weight: bold;
	}
	&-noto {
		font-family: "Noto_Sans";
	}

	&-normal {
		font-weight: 400;
	}

	&-montserrat {
		font-family: $default-font;
	}
}

.flex {
	display: flex;

	&-column {
		flex-direction: column;
	}
	
	&-space-between {
		justify-content: space-between;
	}

	&-align-stretch {
		align-items: stretch;
	}
	
	&-align-bottom {
		align-items: flex-end;
	}

	&-align-center {
		align-items: center;
	}

	&-wrap {
		flex-wrap: wrap;
	}
}

.section {
	padding: 30px 0;

	&:first-of-type {
		padding: 60px 0 30px 0;
	}

	&:only-of-type {
		padding: 60px 0;
	}
}

.title {

	&-subtitle {
		font-size: 1em;
		margin-top: 15px;
		margin-bottom: 15px;
		line-height: 1.3;
	}

	&-base {
		color: $text;
		font-weight: 600;
		font-size: 1.5em;
		line-height: 1.5;
		padding: 0;
		margin: 0;
		margin-bottom: 35px;
	}
}

.link {
	transition: .2s;
	padding: 24px 66px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid transparent;
	border-radius: 2px;
	position: relative;
	outline: none;

	&:before {
		content: url('../img/link-before.svg');
		position: absolute;
		height: 14px;
		width: 7px;
		transition: .2s;
		top: 50%;
		left: 40px;
		transform: translateY(-87%);
	}

	&:hover,
	&:focus {
		background-color: transparent;
		
		&:before {
			opacity: 0;
		}
	}

	&-red {
		background-color: $btn;
		color: #ffffff;
	
		&:hover,
		&:focus {
			border: 2px solid $btn;
			color: $btn;
		}
	}

	&-account {
		padding: 21px 30px 21px 50px;
		border: 1px solid;
		border-radius: 2px;
		text-decoration: none;
		line-height: 1;
		font-size: 0.8125em;
		position: relative;
		transition: .2s;
	
		&:before {
			content: url('../img/profile.svg');
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
		}
	}

	&-white {
		background-color: transparent;
		color: #ffffff;
		border-color: white;
	
		&:hover,
		&:focus {
			background-color: $btn;
			border-color: $btn;
		}
	}
}

.button {
	transition: .2s;
	padding: 24px 66px;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	border-radius: 2px;
	position: relative;
	outline: none;

	&:hover,
	&:focus {
		background-color: transparent;
		
		&:before {
			opacity: 0;
		}
	}

	&:before {
		content: url('../img/link-before.svg');
		position: absolute;
		height: 14px;
		width: 7px;
		top: 50%;
		left: 40px;
		transform: translateY(-50%);
	}

	&-red {
		background-color: $btn;
		color: #ffffff;
	
		&:hover,
		&:focus {
			border-color: $btn;
			color: $btn;
		}
	}

	&-blue {
		background-color: $blue;
		color: #ffffff;
	
		&:hover,
		&:focus {
			border: 2px solid $blue;
			color: $blue;
		}
	}

	&-decorate {
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0 0 0 9px;
		position: relative;

		&:hover {

			&:before {
				opacity: 1;
			}
		}

		&:after {
			content: "";
			width: 100%;
			height: 1px;
			background-color: $btn;
			position: absolute;
			bottom: -2px;
			left: 0;
			right: 0;
		}

		&:before {
			content: url('../img/line-decorate-red.svg');
			position: absolute;
			width: 6px;
			height: 15px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.color {

	&-black {
		color: $text;
	}

	&-red {
		color: $btn;
	}

	&-white {
		color: #ffffff;
	}

	&-blue {
		color: $blue;
	}
}

.border {
	border: 1px solid;
	border-radius: 2px;

	&-grey {
		border-color: #DEE2FF;
	}
}

object, img {
	max-width: 100%;
}

.header {
	padding-top: 15px;
	padding-bottom: 18px;

	&__logo {
		flex-shrink: 0;
	}

	&__menu {
		width: 100%;
		margin-left: 110px;
		margin-right: 100px;
	}

	&__profile {
		flex-shrink: 0;
	}

	&-blue {
		background-color: $bgc;
		color: #ffffff;
	}

	&-eror {
		background-color: #404EF5;
		color: #ffffff;
	}
}

.menu {

	&__list {
		padding: 0;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		text-decoration: none;
		position: relative;
		padding-left: 10px;
		color: #ffffff;
		font-size: 0.75em;
		text-transform: uppercase;

		&:before {
			content: url('../img/header/header-arrow.svg');
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 6px;
			height: 16px;
		}

		&:after {
			content: "";
			position: absolute;
			height: 1px;
			width: 100%;
			background-color: #ffffff;
			left: 0;
			right: 0;
			bottom: -2px;
		}
	}

	&-blue {
		
		.menu {

			&__link {
				color: #ffffff;

				&:hover,
				&:focus {
					color: $btn;

					&:before {
						content: url('../img/header/header-arrow-active.svg');
					}

					&:after {
						background-color: $btn;
					}
				}
			}

			&__link-active {
				color: $btn;

				&:before {
					content: url('../img/header/header-arrow-active.svg');
				}

				&:after {
					background-color: $btn;
				}
			}
		}
	}
}

.profile {
	padding-left: 20px;
	font-size: 1em;
	line-height: 1.3;

	&__block {
		position: relative;
		display: inline-block;

		&:before {
			position: absolute;
			left: -6px;
			transform: translateX(-100%);
		}
	}

	&__name {

		&:before {
			content: url('../img/profile-red.svg');
		}
	}

	&__balance {

		&:before {
			content: url('../img/balance.svg');
			left: -5px;
		}
	}
}

.quote {
	background-color: #F6FAFF;
	padding: 25px;
	border-left: 2px solid;
	border-color: $blue;
	margin: 11px 0;
	max-width: 1054px;

	&__block {
		margin-bottom: 12px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.border-red {
	border-color: $btn;
}

.hidden {
	display: none;
}

.list-icon {
	text-align: left;
	font-size: 1em;
	padding: 0 17px;

	&__item {
		margin: 30px 0;
	}

	&__icon {
		flex-shrink: 0;
		width: 27px;
		height: 27px;
		margin-right: 10px;
	}
}

.form {

	&__subtitle {
		display: block;
		margin-bottom: 18px;
	}

	&__text {
		font-size: 0.875em;
		line-height: 1.3;
		margin-top: 20px;
	}

	&__radio-wrapper {
		border-bottom: 1px dashed #dee2ff;
		padding: 13px 0;
		max-width: 350px;
	}

	&__checkbox-wrapper {
		border-bottom: 1px dashed #dee2ff;
		padding: 13px 0;
	}

	&__privacy {
		font-size: 0.8em;
		letter-spacing: 0.9px;
		margin-bottom: 20px;

		.form__checkbox {
			margin-right: 5px;
			margin-top: 3px;
		}
	}

	&__link {
		transition: .2s;

		&:hover, 
		&:focus {
			color: $btn;
		}
	}

	&__checkbox {
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 14px;
			height: 15px;
			border: 1px solid #ffffff;
			border-radius: 2px;
			background-color: $bgc;
		}

		&:after {
			content: url('../img/popup/tick.svg');
			position: absolute;
			opacity: 0;
			transform: translateX(-35%) translateY(-65%);
			left: 50%;
			top: 50%;
			width: 14px;
			height: 15px;
		}

		&:checked {

			&:after {
				opacity: 1;
			}
		}
	}

	&__label {
		cursor: pointer;
	}

	&__input {
		background-color: #ffffff;
		font-size: 1.125em;
		padding: 17px 21px;
		line-height: 1.4;
		border-radius: 2px;
		border: none;
		margin-right: 20px;
		margin-bottom: 20px;

		&::placeholder {
			color: rgba(0, 0, 0, 0.6);
		}

		&-checkbox {
			margin: 0 10px 0 0;
			position: relative;
			cursor: pointer;

			&:before {
				content: "";
				border: 1px solid $blue;
				border-radius: 50%;
				width: 14px;
				height: 14px;
				position: absolute;
				background-color: #ffffff;
				top: 50%;
				left: 50%;
				transform: translateY(-54%) translateX(-60%);
			}

			&:after {
				content: "";
				border-radius: 50%;
				position: absolute;
				width: 0px;
				height: 0px;
				background-color:$blue;
				top: 50%;
				left: 50%;
				transform: translateY(-54%) translateX(-63%);
			}

			&:checked {
				&:after {
					width: 12px;
					height: 12px;
				}
			}
		}

		&-submit {
			background-color: transparent;
			text-transform: uppercase;
			padding: 0;
			font-size: 0.75em;
		}

		&-radio {
			margin: 0 10px 0 0;
			position: relative;
			cursor: pointer;

			&:before {
				content: "";
				border: 1px solid $blue;
				border-radius: 50%;
				width: 14px;
				height: 14px;
				position: absolute;
				background-color: #ffffff;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}

			&:after {
				content: "";
				border-radius: 50%;
				position: absolute;
				width: 0px;
				height: 0px;
				background-color:$blue;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}

			&:checked {
				&:after {
					width: 12px;
					height: 12px;
				}
			}
		}

		&[type="number"] {
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
			}
		}

 	}

	&-white {
		
		.form {
			
			&__input {
				background-color: #F7F8FF;
				color: #AFAEAF;
	
				&::placeholder {
					color: #AFAEAF;
				}
			}

			&__link {
				color: #ffffff;

				&:hover, 
				&:focus {
					color: $btn;
				}
			}

			&__checkbox {
				position: relative;
		
				&:before {
					border: 1px solid #DEE2FF;
					background-color: #ffffff;
				}
		
				&:after {
					content: url('../img/tick.svg');
					position: absolute;
					opacity: 0;
					transform: translateX(-35%) translateY(-65%);
					left: 50%;
					top: 50%;
					width: 14px;
					height: 15px;
				}
		
				&:checked {
		
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

	&-grey {
		background-color: #F7F8FF;

		.form {
				
			&__checkbox {
				position: relative;
		
				&:before {
					border: 1px solid #DEE2FF;
					background-color: #ffffff;
				}
		
				&:after {
					content: url('../img/tick.svg');
					position: absolute;
					opacity: 0;
					transform: translateX(-35%) translateY(-65%);
					left: 50%;
					top: 50%;
					width: 14px;
					height: 15px;
				}
		
				&:checked {
		
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}

	&-tv {

		.form {

			&__input {
				padding: 7px 15px;
				margin-bottom: 10px;
				font-size: 1em;
				width: 100%;
				max-width: 270px;
			}
			
		}
	}
}

.line-decorate {
	margin-left: 26px;
	position: relative;
	display: inline-block;

	&:before {
		content: url('../img/line-decorate.svg');
		width: 10px;
		height: 17px;
		position: absolute;
		left: -5px;
		top: 3px;
		transform: translateX(-100%);
	}

	&--red {
		width: 100%;
		height: 24px;
		background-color: $btn;
	}
}

.footer {
	background-color: $bgc;
	margin-bottom: 30px;
	position: relative;
	
	&__wrapper {
		padding-top: 15px;
		padding-bottom: 24px;
	}

	&__iframe {
		width: 100%;
		height: 100%;
	}

	.contacts {
		flex-shrink: 0;
		margin-top: 30px;
		margin-right: 50px;
	}

	&__info {
		width: 50%;
		margin-top: -15px;
	}

	&__title {
		font-size: 1em;
		margin-bottom: 20px;
	}

	&__logo {
		max-width: 130px;
	}

	&__map {
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		height: 100%;
		width: 50%;
	}

	.button {
		padding: 18px 66px;
	}
}

.contacts {

	&__string {
		display: block;
	}

	&__block {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&__link {
		text-decoration: none;
		transition: .2s;

		&:hover,
		&:focus {
			color: $btn;
		}
	}

	&__link-social {
		margin-right: 10px;
	}
}

.payments {
	
	&__table {
		max-width: 940px;

	}

	.quote {
		max-width: 940px;
		margin-top: 30px;
	}
}

.payment-table {
	text-align: left;
	width: 100%;
	
	&__item {
		padding: 15px 10px 15px 0;
		border-bottom: 1px dashed #DEE2FF;
	}

	&__title {
		font-size: 1em;
		line-height: 1.3;
		font-weight: normal;
	}
}

.refill {

	&__form {
		padding: 30px 40px 65px 40px;
		width: 49%;

		.form__button {
			margin-top: 40px;
		}
	}

	&__banner {
		background-color: #C4C4C4;
		width: 49%;
		overflow: hidden;
		border-radius: 2px;
	}
}

.user-card {

	.quote {
		padding: 20px 40px;
		margin: 20px 0;
	}

	&-small {

		.quote {
			margin: 0;
			border-left: none;
			padding: 0 25px;
			font-size: 0.875em;
	
			&__block {
	
				&:first-of-type {
					padding-top: 20px;
				}
	
				&:last-of-type {
					padding-bottom: 20px;
					border-bottom: 1px dashed #DEE2FF;
				}
			}
	
			&:last-of-type {
	
				.quote__block {
	
					&:last-of-type {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.support {

	&__cash-flow {
		width: 64%;
	}

	&__user-card {
		width: 34%;
	}
}

.tv {

	&__subscr {
		width: 100%;
		height: 100%;
	}

	&__auth {
		flex-shrink: 0;
		max-width: 300px;
		margin-left: 20px;
	}

	&__form {
		padding: 15px 12px;
	}

	.quote {
		margin-bottom: 0;
		margin-top: 29px; 
		padding-left: 15px;

		&__block {
			margin-bottom: 0px;
		}

		.button {
			margin-top: 14px;
		}
	}
}

.channel-package {
	width: 60%;
	
	&:first-of-type {
		padding: 30px 0;
	}

	&__form {
		padding: 25px 25px 40px 40px;

	}

	&__link {
		font-size: 0.75em;
		line-height: 2.2;
	}

	.form {
		
		&__radio-wrapper {
			max-width: none;

			&:first-of-type {
				border-top: 1px dashed #dee2ff;
			}
		}
	}
}

.additional-channel {
	width: 60%;
	
	&:first-of-type {
		padding: 30px 0;
	}

	&__form {
		padding: 25px 25px 40px 40px;

	}

	&__link {
		font-size: 0.75em;
		line-height: 2.2;
	}

	.form {
		
		&__radio-wrapper {
			max-width: none;

			&:first-of-type {
				border-top: 1px dashed #dee2ff;
			}
		}

		&__privacy {
			margin-top: 25px;
			margin-bottom: 30px;
		}

		&__link {
			color: $text;
			text-decoration: none;
			font-size: 16px;
		}
	}
}

.platforms {
	width: 37%;
	
	&__wrapper {
		padding: 25px 25px 20px 25px;
	}

	&__subtitle {
		display: inline-block;
		padding-bottom: 13px;
		border-bottom: 1px dashed #dee2ff;
	}

	&__text {
		font-size: 1em;
		margin-bottom: 25px;
	}

	&__list {
		margin: 0;
		padding: 0;
		width: 100%;
		margin-right: 8px;
	}

	&__img {
		flex-shrink: 0;
	}

	&__item {
		padding: 5px 0;
		display: block;
		border-bottom: 1px dashed #dee2ff;
	}
	
	&__links {
		margin-top: 20px;
	}

	.font-plus {
		font-size: 1.125em;
	}
}

.tv-user-card {
	width: 37%;

	&.user-card-small {

		.quote {
			width: 100%;
			padding: 0 25px;
			font-size: 0.9em;
			
			&:nth-child(odd),
			&:nth-child(even) {
				margin-right: 0;
				margin-left: 0;
			}
		}


	}
	
}


.auth {

	&__form {
		padding: 25px;
	}

	&__subtitle {
		display: inline-block;
		width: 130px;
	}

	&__remember {
		margin-left: 135px;
		margin-bottom: 37px;
	}

	&__checkbox {
		margin-left: 0;
	}

	&__button {
		margin-left: 135px;
		padding: 18px 40px;

		&:before {
			left: 20px;
		}
	}

	&__link {
		margin-left: 20px;
	}
}

.eror {
	background-color: #404EF5;
	background-repeat: no-repeat;
	background-image: url('../img/background-eror.jpg');
	background-size: 100%;
	background-position: 100% 100%;

	&__title {
		font-size: 3.375em;
		margin-bottom: 70px;
	}

	&__text {
		font-size: 7.5em;
		margin-right: 30px;
	}

	&__link {
		margin-top: 90px;
	}
}

.loader {

	&__wrapper {
		top: 0;
		bottom: 0;
		z-index: -1;
		height: 100%;
		width: 100%;
		position: fixed;
		background-color: #404EF5;
		background-repeat: no-repeat;
		background-image: url('../img/background-eror.jpg');
		background-size: contain;
		background-position: 100% 0;
		padding-left: 20%;
		display: flex;
		align-items: center;
	}

	&__text {
		line-height: 1.1;
		font-size: 1.375em;
		margin-top: 22px;
		margin-left: 20px;
	}
}

@import "media"; // Always at the end
